header {
    position: fixed;
    left:0px;
    top: 0px;
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(117, 18, 18);
    font-size: 50px;
    color: rgb(255, 255, 255);
	font-family: "Bona Nova SC", serif;
}

main {

    display: grid;
    padding-top: 55px;
    justify-content: center;
	color:rgb(171, 66, 0)
}

footer {
    position: absolute;
    left: 0px;
  	bottom: 0px;
    width: 100%;
    background-color: rgb(117, 18, 18);
    text-align: center;
    font-size: 14px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#portal_button {
    position: fixed;
    right: 30px;
    top: 13px;
	color: darkgrey
}

a {
    color: rgb(83, 53, 53);
    text-decoration: underline;
	font-family:monospace 
}

#redfox{
    position: relative;
    float: left;
    height: 50px;
    bottom: 5px;
	
}

#newsfeed {
    max-width: 600px;
    min-width: 600px;
}

.feedImage {
    max-width: 150px;
    max-height: 150px;
}


#portal_button {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}


.marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
}
#site_info {
	color: #e4dddd;
	font-family:sans-serif
}
#splash_title {
	color:blue
}