body {
  background-image: url("/images/maristnice.jpg");
  background-color: palegreen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; 
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: pink;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(98, 23, 23);
  text-align: center;
  font-family: "Playwrite HR", cursive;
}

.menu_button {
	background-color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    user-select: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.background_button {
    border-radius: 15px;
    padding: 16px 20px;
  color:rgb(0, 0, 0)
}
